// --------------------------------------------------
// RGBA Background Opacity
// --------------------------------------------------

// eg: @include bg-opacity($color-dark, .2);
@mixin bg-opacity($color, $opacity: 0.3) {
    background: rgba($color, $opacity);
}

// --------------------------------------------------
// display: flex / justify-content: space-between;
// --------------------------------------------------

// eg: @include flex-space-betweem;
@mixin flex-space-betweem {
    display: flex;
    justify-content: space-between;
}