// ==================================
// Typography
// ==================================
//
// Font, line-height, and color for body text, headings, and more.

$font-family-base:                                              		Hind, sans-serif !default; // Hind font family
$font-family-sl-icons:                                              	Simple-Line-Icons !default; // Simple Line Icons 


// Colors
$color-base:                                                            #17bed2 !default;
$color-white:                                                           #fff !default;
$color-heading:                                                        	#515769 !default;
$color-subtitle:                                                        #a6a7aa !default;
$color-link:                                                        	#81848f !default;
$color-link-hover:                                                      #999caa !default;
$color-sky-light:                                                      	#fafafa !default;
