// ==================================
// Typography
// ==================================
//

// Colors
$color-base:                                                            #343434 !default;
$color-blue:                                                      	    #005BC1 !default;
$color-white:                                                           #fff !default;
